.serviceName {
  font-size: 1.5em;
}

.serviceIndicator {
  font-size: 2em;
}

.note-label {
  padding: 0.3em;

  span {
    line-height: 1.5em;
  }
}

@media (min-width: 767px) {
  .serviceName {
    min-width: 225px;
  }
}