<div class="well">
  <div>
    <div class="row">
      <div class="lead col-md-8 note-title">
        <span><a href="{{'note/' + note.id + '/detail/'}}">{{note.title}}</a></span>
        <span ng-if="link"> [<a href="{{'service/' + note.service.id + '/detail/'}}">{{note.service.name}}</a>]</span>
      </div>
      <span class="col-md-4 text-right note-type">
        <span class="label {{note.noteType | serviceLabel}}">{{note.noteType | replaceUnderscore}}</span>
      </span>
    </div>
    <br>
    <div class="note-body" ng-bind-html="note.body"></div>
    <br>
    <div>
      <span><em>Posted by {{note.author.firstName}} {{note.author.lastName}} on {{note.lastModified | date : 'medium'}}</em></span>
    </div>
  </div>
</div>
