<div class="btn-group pull-right" data-toggle="buttons">
<label class="btn btn-default active">
    <input type="radio" name="options" id="10" value="10" autocomplete="off" checked> 10
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="25" value="25" autocomplete="off"> 25
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="50" value="50" autocomplete="off"> 50
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="100" value="100" autocomplete="off"> 100
  </label>
</div>