<div class="management-table" ng-controller="FeatureProposalController">

    <alerts seconds="45" channels="projects/feature" types="SUCCESS"></alerts>

    <button class="btn btn-default view-action-button" ng-click="initCreateFeatureProposal()">Add Feature Proposal</button>
    <hr>

    <weaver-table weaver-table="weaverTableDetail" ng-init="useDetailTable()">
        <weaver-table-controls>
          <button class="btn btn-default view-action-button pull-right" ng-click="initCreateFeatureProposal()">Add Feature Proposal</button>
        </weaver-table-controls>

        <weaver-table-element>
          <table ng-table="featureProposalsTableParams" template-header="customTableHeader" template-pagination="views/customPaginationControls.html" show-filter="false" class="table table-bordered table-striped fp-table">
            <tbody>
              <tr ng-repeat="fp in $data">
                <td title="'Title'">{{fp.title}}</td>
                <td title="'Description'">{{fp.description}}</td>
                <td title="'Votes'">{{fp.votes}}</td>
                <td title="'State'">
                  <span title="{{getStateSummary(fp.state)}}">{{fp.state | featureProposalState}}</span>
                </td>
                <td title="'Last Modified'">{{fp.lastModified | date : 'medium'}}</td>
                <td title="'Visible to Anonymous Users'">{{fp.isPublic}}</td>
                <td class="actions-column text-center" title="'Actions'">
                    <span ng-if="!hasState('SUBMITTED', fp) && !hasState('REJECTED', fp)" class="toggle-href glyphicon glyphicon-upload" title="submit" ng-click="select(fp, '#submitFpModal');"></span>
                    <span ng-if="!hasState('SUBMITTED', fp) && !hasState('REJECTED', fp)" class="toggle-href glyphicon glyphicon-ban-circle" title="reject" ng-click="confirmReject(fp)"></span>
                    <span class="toggle-href glyphicon glyphicon-pencil" title="edit" ng-click="editFeatureProposal(fp)"></span>
                    <span class="toggle-href glyphicon glyphicon-trash" title="delete" ng-if="fp.ideas.length === 0" ng-click="confirmDeleteFp(fp)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </weaver-table-element>

        <weaver-table-modals>
          <modal modal-id="addFpModal" modal-view="views/modals/detail/service/addFpModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
          <modal modal-id="submitFpModal" modal-view="views/modals/detail/service/submitFpModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
          <modal modal-id="rejectFpModal" modal-view="views/modals/detail/service/rejectFpModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
          <modal modal-id="deleteFpModal" modal-view="views/modals/detail/service/deleteFpModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
          <modal modal-id="editFpModal" modal-view="views/modals/detail/service/editFpModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
        </weaver-table-modals>
    </weaver-table>

</div>
