<div class="management-table" ng-controller="ServiceDetailIdeaManagementController">
  <button class="btn btn-default view-action-button" ng-click="openModal('#addIdeaModal')">Add Idea</button>
  <button class="btn btn-default view-action-button pull-right" ng-click="confirmElevateMultiple(selectedIdeas)" ng-disabled="selectedIdeas.length === 0">Elevate Selected Ideas</button>
  <hr />

  <table ng-table="ideasTableParams" template-pagination="views/customPaginationControls.html" show-filter="false" class="table table-bordered table-striped idea-table">
    <tr ng-repeat="idea in $data">
      <td width="30" header="'views/checkbox.html'">
        <input class="idea-checkbox" type="checkbox" ng-click="toggleSelectIdea(idea)" ng-checked="isSelectedIdea(idea)"/>
      </td>
      <td title="'Title'">{{idea.title}}</td>
      <td title="'Description'">{{idea.description}}</td>
      <td title="'Last Modified'">{{idea.lastModified | date : 'medium'}}</td>
      <td title="'Status'">{{idea.state | ideaState}}</td>
      <td class="actions-column text-center" title="'Actions'">
        <span class="glyphicon glyphicon-pencil" title="edit" ng-click="editIdea(idea)"></span>
      </td>
    </tr>
  </table>

  <modal modal-id="addIdeaModal" modal-view="views/modals/detail/service/addIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="deleteIdeaModal" modal-view="views/modals/detail/service/deleteIdeaModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
  <modal modal-id="editIdeaModal" modal-view="views/modals/detail/service/editIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="rejectIdeaModal" modal-view="views/modals/detail/service/rejectIdeaModal.html" modal-header-class="modal-header-warning" wvr-modal-backdrop="static"></modal>
  <modal modal-id="sendToHelpdeskModal" modal-view="views/modals/detail/service/sendToHelpdeskModal.html" modal-header-class="modal-header-warning" wvr-modal-backdrop="static"></modal>
  <modal modal-id="elevateMultipleModal" modal-view="views/modals/detail/service/elevateMultipleModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="confirmAddIdeaModal" modal-view="views/modals/detail/service/confirmAddIdeaModal.html" modal-header-class="modal-header-primary" modal-fullscreen="true" wvr-modal-backdrop="static"></modal>
</div>
