<div class="serviceStatusAlert alert" ng-class="service.status == 'UP' ? 'alert-success' : 'alert-danger'" role="alert"><h2>{{service.name}} is {{service.status | lowercase}}</h2>

</div>

<div class="container">
  <h3>{{service.name}} Details</h3>
  <hr>
  <div>
    <span ng-bind-html="service.description | decode"></span>
  </div>
</div>

<div class="container notes-container">
  <h3>Notes</h3>
  <hr>
  <table ng-table="tableParams" template-pagination="views/notePaginationControls.html" show-filter="false" class="table borderless notes-table">
    <tbody>
      <tr ng-repeat="note in $data">
        <td>
          <note note="note" link="true"></note>
        </td>
      </tr>
    </tbody>
  </table>
</div>
