<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetIdeas()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Edit Idea</h3>
</div>

<form ng-submit="updateIdea()" name="forms.updateIdea" novalidate>

  <validationmessage results="ideaRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">

    <validatedinput disabled="true" model="ideaData" property="title" label="Title" form="forms.updateIdea" validations="ideaRepo.getValidations()" results="ideaRepo.getValidationResults()"></validatedinput>

    <validatedselect disabled="true" model="ideaData" property="service" label="Services" form="forms.updateIdea" validations="ideaRepo.getValidations()" results="ideaRepo.getValidationResults()" options="services" optionProperty="name"></validatedselect>

    <label>Idea Description</label>
    <textarea disabled class="form-control" ng-model="ideaData.description"></textarea>
    <br />

    <div ng-if="ideaData.feedback">
      <label>Reason for Rejection</label>
      <textarea disabled class="form-control" ng-model="ideaData.feedback"></textarea>
      <br />
    </div>

    <div class="modal-footer">
      <div class="row">
        <label class="pull-left">Available Actions</label>
      </div>
      <div class="row">
        <button ng-disabled="updating || ideaData.state === 'ELEVATED'" type="button" class="btn btn-danger pull-left" ng-click="confirmDelete(ideaData)">Delete Idea</button>
        <button ng-if="ideaData.state !== 'REJECTED'" ng-disabled="updating || ideaData.state === 'ELEVATED'" type="button" class="btn btn-warning pull-left" ng-click="confirmReject(ideaData)">Reject Idea</button>
      </div>
      <hr>
      
      <button ng-disabled="updating" type="button" class="btn btn-default" ng-click="resetIdeas()">Cancel</button>
      <button ng-disabled="forms.updateIdea.$invalid || forms.updateIdea.$pristine || updating" id="idea-update" type="submit" class="btn btn-primary">
        <span ng-if="!updating">Update</span>
        <span ng-if="updating">Updating
          <span class="glyphicon glyphicon-refresh spinning"></span>
        </span>
      </button>
    </div>
  </div>
</form>
