<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <base href="/status/">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Libraries Web Services Status :: Texas A&amp;M Libraries</title>

  <link rel="shortcut icon" href="resources/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="resources/styles/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="resources/styles/bootstrap/dist/css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="resources/styles/app.css">
  <link rel="stylesheet" type="text/css" href="resources/styles/bootstrap4.css">

  <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
  <h1 class="hidden">Texas A&amp;M University Libraries</h1>
  <h2 class="hidden">Libraries Web Services Status</h2>

  <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Content placed here will appear on every page -->
  <main ng-controller="AuthenticationController">

    <custom-header title="Libraries Web Services Status" home="/status/" login="login()" anonymous="isAnonymous()"></custom-header>

    <alerts types="WARNING, ERROR"></alerts>
    <alerts seconds="45" channels="auth/register" types="SUCCESS"></alerts>

    <div class="container-fluid" ng-controller="AppAbstractController">
      <div class="container">
        <div class="col-md-12 appContent">

          <nav class="pull-right userMenu">

            <div ng-if="!isAnonymous()" class="dropdown">
              <span class="glyphicon glyphicon-user"></span>

              <a class="dropdown-toggle hover-pointer" data-toggle="dropdown" aria-expanded="false">
                <username></username>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li ng-if="hasAdminAccess() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Manager Actions</li>
                <li ng-if="hasManagementAccess() || isAssuming() == 'true'">
                  <a href="management">Management Dashboard</a>
                </li>
                <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="divider"></li>
                <li ng-if="isAdmin() || isAssuming() == 'true'" role="presentation" class="dropdown-header">Admin Actions</li>
                <li ng-if="isAdmin() || isAssuming() == 'true'" ng-controller="AdminController">
                  <a href ng-if="isAssuming() == 'false'" ng-click="openModal('#assumeUserModal')">{{assumedControl.button}}</a>
                  <a href ng-if="isAssuming() == 'true'" ng-click="assumeUser()">{{assumedControl.button}}</a>
                </li>
                <li ng-if="hasManagementAccess() || isAssuming() == 'true'" role="presentation" class="divider"></li>
                <li>
                  <a href ng-click="logout()">Logout</a>
                </li>
              </ul>
            </div>

          </nav>

          <div ng-controller="AdminController">
            <modal modal-id="assumeUserModal" modal-view="node_modules/@wvr/core/app/views/modals/assumeUserModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
          </div>

          <div ng-view class="view" autoscroll="true"></div>

        </div>
      </div>
    </div>
  </main>

  <div ng-controller="AuthenticationController">
    <custom-footer login="login()" anonymous="isAnonymous()"></custom-footer>
  </div>

  <script src="appConfig.js"></script>
  <script src="app.bundle.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function (b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] = function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

</body>
</html>
