<div class="management-table" ng-controller="IdeaController">

  <button class="btn btn-default view-action-button" ng-click="openModal('#addIdeaModal')">Add Idea</button>
  <hr />

  <table ng-table="tableParams" template-pagination="views/customPaginationControls.html" show-filter="false" class="table table-bordered table-striped idea-table">
    <tr ng-repeat="idea in $data">
      <td title="'Service'"><a href="{{'service/' + idea.service.id + '/detail/'}}">{{idea.service.name}}</a> <span ng-if="idea.schedules.length > 0">(scheduled)</span></td>
      <td title="'Title'"><a href="{{'idea/' + idea.id + '/detail/'}}">{{idea.title}}</a></td>
      <td title="'Description'">{{idea.description}}</td>
      <td title="'Last Modified'">{{idea.lastModified | date : 'medium'}}</td>
      <td class="actions-column" title="'Actions'">
        <span class="glyphicon glyphicon-pencil" title="edit" ng-click="editIdea(idea)"></span>
        <span class="glyphicon glyphicon-time" title="schedule" ng-click="editSchedule(idea)"></span>
        <span class="glyphicon glyphicon-trash" title="delte" ng-click="confirmDelete(idea)"></span>
      </td>
    </tr>
  </table>

  <modal modal-id="addIdeaModal" modal-view="views/modals/addIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="deleteIdeaModal" modal-view="views/modals/deleteIdeaModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
  <modal modal-id="editIdeaModal" modal-view="views/modals/editIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="editScheduleModal" modal-view="views/modals/editScheduleModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
</div>
