<div class="management-table" ng-controller="IdeaController">

  <weaver-table>

    <weaver-table-controls>
      <button class="btn btn-default view-action-button pull-right" ng-click="openModal('#addIdeaModal')">Add Idea</button>
    </weaver-table-controls>

    <weaver-table-element>
      <table ng-table="tableParams" template-pagination="views/customPaginationControls.html" show-filter="false" class="table table-bordered table-striped idea-table">
        <thead>
          <tr>
            <th><span>Service<span ng-click="toggleSort('service.name')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('service.name'), 'asc': asc('service.name'), 'desc': desc('service.name')}"></span></span></th>
            <th><span>Title<span ng-click="toggleSort('title')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('title'), 'asc': asc('title'), 'desc': desc('title')}"></span></span></th>
            <th><span>Description</span></th>
            <th><span>Last Modified<span ng-click="toggleSort('lastModified')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('lastModified'), 'asc': asc('lastModified'), 'desc': desc('lastModified')}"></span></span></th>
            <th><span>Elevated<span ng-click="toggleSort('elevated')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('elevated'), 'asc': asc('elevated'), 'desc': desc('elevated')}"></span></span></th>
            <th><span>Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="idea in $data">
            <td><a href="{{'service/' + idea.service.id + '/detail/'}}">{{idea.service.name}}</a> <span ng-if="idea.schedules.length > 0">(scheduled)</span></td>
            <td><a href="{{'idea/' + idea.id + '/detail/'}}">{{idea.title}}</a></td>
            <td>{{idea.description}}</td>
            <td>{{idea.lastModified | date : 'medium'}}</td>
            <td>{{idea.elevated}}</td>
            <td class="actions-column text-center">
              <span class="glyphicon glyphicon-pencil" title="edit" ng-click="editIdea(idea)"></span>
              <span class="glyphicon glyphicon-trash" title="delte" ng-click="confirmDelete(idea)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </weaver-table-element>

    <weaver-table-modals>
      <modal modal-id="addIdeaModal" modal-view="views/modals/detail/service/addIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
      <modal modal-id="deleteIdeaModal" modal-view="views/modals/detail/service/deleteIdeaModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
      <modal modal-id="editIdeaModal" modal-view="views/modals/detail/service/editIdeaModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
      <modal modal-id="elevateIdeaModal" modal-view="views/modals/detail/service/elevateIdeaModal.html" modal-header-class="modal-header-warning" wvr-modal-backdrop="static"></modal>
    </weaver-table-modals>

  </weaver-table>

</div>
