<div class="management-table" ng-controller="NoteController">

  <button class="btn btn-default view-action-button" ng-click="openModal('#addNoteModal')">Add Note</button>
  <hr />

  <table ng-table="tableParams" template-pagination="views/notePaginationControls.html" show-filter="false" class="table table-bordered table-striped note-table">
    <tr ng-repeat="note in $data">
      <td title="'Service'"><a href="{{'service/' + note.service.id + '/detail/'}}">{{note.service.name}}</a> <span ng-if="note.schedules.length > 0">(scheduled)</span></td>
      <td title="'Title'"><a href="{{'note/' + note.id + '/detail/'}}">{{note.title}}</a></td>
      <td title="'Body'">{{note.body}}</td>
      <td title="'Type'">{{note.noteType}}</td>
      <td title="'Last Modified'">{{note.lastModified | date : 'medium'}}</td>
      <td title="'Pinned'">{{note.pinned}}</td>
      <td title="'Active'">{{note.active}}</td>
      <td class="actions-column" title="'Actions'">
        <span class="glyphicon glyphicon-pencil" title="edit" ng-click="editNote(note)"></span>
        <span class="glyphicon glyphicon-time" title="schedule" ng-click="editSchedule(note)"></span>
        <span class="glyphicon glyphicon-trash" title="delte" ng-click="confirmDelete(note)"></span>
      </td>
    </tr>
  </table>

  <modal modal-id="addNoteModal" modal-view="views/modals/addNoteModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="deleteNoteModal" modal-view="views/modals/deleteNoteModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
  <modal modal-id="editNoteModal" modal-view="views/modals/editNoteModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
  <modal modal-id="editScheduleModal" modal-view="views/modals/editScheduleModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
</div>
