<div class="management-table" ng-controller="NotificationController">

  <button class="btn btn-default view-action-button" ng-click="openModal('#addNotificationModal')">Add Notification</button>
  <hr>
  <table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped notification-table">
    <tr ng-repeat="notification in notifications track by notification.id">
    <td title="'Name'">{{notification.name}}</td>
    <td title="'Body'">{{notification.body}}</td>
    <td title="'Active'">{{notification.isActive}}</td>
    <td title="'Locations'">{{notification.locations.join(', ')}}</td>
    <td title="'Actions'">
      <button class="btn btn-danger" ng-click="confirmDelete(notification)">Delete</button>
      <button class="btn btn-primary" ng-click="editNotification(notification)">Edit</button>
    </td>
  </table>

  <modal modal-id="addNotificationModal" modal-view="views/modals/addNotificationModal.html" modal-header-class="modal-header-primary"></modal>
  <modal modal-id="deleteNotificationModal" modal-view="views/modals/deleteNotificationModal.html" modal-header-class="modal-header-danger"></modal>
  <modal modal-id="editNotificationModal" modal-view="views/modals/editNotificationModal.html" modal-header-class="modal-header-primary"></modal>
</div>