<div class="management-table" ng-controller="ServiceController">

  <weaver-table default-sorting="defaultSorting" repo="repo">

    <weaver-table-controls>
      <button class="btn btn-default view-action-button pull-right" ng-click="openModal('#addServiceModal')">Add Service</button>
    </weaver-table-controls>

    <weaver-table-element>
      <table ng-table="tableParams" template-pagination="views/customPaginationControls.html" show-filter="false" class="table table-bordered table-striped service-table">
        <thead>
          <tr>
            <th><span>Service<span ng-click="toggleSort('name')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('name'), 'asc': asc('name'), 'desc': desc('name')}"></span></span></th>
            <th><span>Status<span ng-click="toggleSort('status')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('status'), 'asc': asc('status'), 'desc': desc('status')}"></span></span></th>
            <th><span>Auto Updating<span ng-click="toggleSort('isAuto')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('isAuto'), 'asc': asc('isAuto'), 'desc': desc('isAuto')}"></span></span></th>
            <th><span>Public<span ng-click="toggleSort('isPublic')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('isPublic'), 'asc': asc('isPublic'), 'desc': desc('isPublic')}"></span></span></th>
            <th><span>Short List<span ng-click="toggleSort('onShortList')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('onShortList'), 'asc': asc('onShortList'), 'desc': desc('onShortList')}"></span></span></th>
            <th><span>URL<span ng-click="toggleSort('serviceUrl')" class="sort-control glyphicon" ng-class="{'unsorted': unsorted('serviceUrl'), 'asc': asc('serviceUrl'), 'desc': desc('serviceUrl')}"></span></span></th>
            <th><span>Project</span></th>
            <th><span>Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="service in $data">
            <td title="'Service'"><a href="{{'service/' + service.id + '/detail/'}}">{{service.name}}</a> <span ng-if="service.schedules.length > 0">(scheduled)</span></td>
            <td title="'Status'">{{service.status}}</td>
            <td title="'Auto Updating'">{{service.isAuto}}</td>
            <td title="'Public'">{{service.isPublic}}</td>
            <td title="'Short List'">{{service.onShortList}}</td>
            <td title="'URL'">{{service.serviceUrl}}</td>
            <td title="'Project'">{{getProject(service).name}}</td>
            <td class="actions-column text-center" title="'Actions'">
              <span class="glyphicon glyphicon-pencil" title="edit" ng-click="editService(service)"></span>
              <span class="glyphicon glyphicon-time" title="schedule" ng-click="editSchedule(service)"></span>
              <span class="glyphicon glyphicon-trash" title="delete" ng-click="confirmDelete(service)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </weaver-table-element>

    <weaver-table-modals>
      <modal modal-id="addServiceModal" modal-view="views/modals/addServiceModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
      <modal modal-id="deleteServiceModal" modal-view="views/modals/deleteServiceModal.html" modal-header-class="modal-header-danger" wvr-modal-backdrop="static"></modal>
      <modal modal-id="editServiceModal" modal-view="views/modals/editServiceModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
      <modal modal-id="editScheduleModal" modal-view="views/modals/editScheduleModal.html" modal-header-class="modal-header-primary" wvr-modal-backdrop="static"></modal>
    </weaver-table-modals>
  </weaver-table>

</div>
