<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetServices()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Edit Service</h3>
</div>

<form ng-submit="updateService()" name="forms.update" novalidate>

  <validationmessage results="serviceRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">
    <validatedinput model="serviceData" property="name" label="Name" placeholder="Name of the Service" form="forms.update" validations="serviceRepo.getValidations()" results="serviceRepo.getValidationResults()"></validatedinput>

    <label>Description</label>
    <textarea ui-tinymce="tinymceOptions" ng-model="serviceData.description"></textarea>
    <br />

    <service-status model="serviceData"></service-status>

    <div class="checkbox">
      <label><input type="checkbox" value="false" ng-model="serviceData.isPublic">Is the Service Public?</label>
    </div>

    <div class="checkbox">
      <label><input type="checkbox" value="false" ng-model="serviceData.onShortList">Is the Service on the short list?</label>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="resetServices()">Cancel</button>
      <button id="service-update" type="submit" class="btn btn-primary" ng-disabled="forms.update.$invalid">Update</button>
    </div>
  </div>
</form>
