<div class="modal-header {{attr.modalHeaderClass}}">
  <button type="button" class="close" ng-click="resetNotes()" aria-label="Close">
    <span class="modal-close" aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">Edit Note</h3>
</div>

<form ng-submit="updateNote()" name="forms.update" novalidate>

  <validationmessage results="noteRepo.getValidationResults()"></validationmessage>

  <div class="modal-body">

    <validatedinput model="noteData" property="title" label="Title" placeholder="Title of the Note" form="forms.update" validations="noteRepo.getValidations()" results="noteRepo.getValidationResults()"></validatedinput>

    <validatedselect model="noteData" property="service" label="Services" form="forms.update" validations="noteRepo.getValidations()" results="noteRepo.getValidationResults()" options="services" optionProperty="name"></validatedselect>

    <validatedselect model="noteData" property="noteType" label="Note Type" form="forms.update" validations="noteRepo.getValidations()" results="noteRepo.getValidationResults()" options="noteTypes" optionProperty="gloss" optionValue="value"></validatedselect>

    <label>Note Body</label>
    <textarea ui-tinymce="tinymceOptions" ng-model="noteData.body"></textarea>
    <br />

    <validatedinput model="noteData" type="checkbox" property="pinned" placeholder="Is the Note pinned?" form="forms.update" validations="noteRepo.getValidations()" results="noteRepo.getValidationResults()"></validatedinput>

    <validatedinput model="noteData" type="checkbox" property="active" placeholder="Is the Note active?" form="forms.update" validations="noteRepo.getValidations()" results="noteRepo.getValidationResults()"></validatedinput>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="resetNotes()">Cancel</button>
      <button id="note-update" type="submit" class="btn btn-primary" ng-disabled="forms.update.$invalid">Update</button>
    </div>
  </div>
</form>