<div class="overallStatusAlert">
  <alerts fixed="true" channels="status/general" types="SUCCESS, INFO, ERROR, WARNING" view="views/customAlert.html" exclusive></alerts>
</div>

<table class="table table-striped publicDashboardServiceShortlist">
  <thead>
    <th>Status</th>
    <th>Service Name</th>
    <th>Notes</th>
  </thead>
  <tbody>
    <tr class="serviceShortListItem" ng-repeat="service in services | dashboardServices:{showPublic: showPublic, showShortList: showShortList}" ng-init="service.getNotes(true, true)">
      <td>
        <span class="glyphicon service-indicator" ng-class="{'glyphicon-ok-sign serviceUp': service.status==='UP', 'glyphicon-remove-sign serviceDown': service.status==='DOWN', 'glyphicon-minus-sign serviceMaintenance': service.status==='MAINTENANCE'}"></span>
      </td>
      <td class="serviceName"><a href="{{'service/' + service.id + '/detail/'}}">{{service.name}}</a></td>
      <td class="serviceNotes">
        <div class="note-label" ng-repeat="note in service.notes | orderBy: lastModified">
          <span><strong><span class="label {{note.noteType | serviceLabel}}">{{note.noteType | replaceUnderscore}}</span> <a href="{{'note/' + note.id + '/detail/'}}">{{note.title}}</a>:</strong> {{note.body}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" ng-if="showShortList" ng-click="showHideShortList()">Show All Services</button>
<button class="btn btn-primary" ng-if="!showShortList" ng-click="showHideShortList()">Collapse</button>
<br /><br /><br />
<h4>Notes</h4>
<hr />
<div class="container-fluid notes-container">
  <table ng-table="tableParams" template-pagination="views/notePaginationControls.html" show-filter="false" class="table borderless notes-table">
    <thead>
      <th>Note</th>
    </thead>
    <tbody>
      <tr ng-repeat="note in $data">
        <td>
          <note note="note" link="true"></note>
        </td>
      </tr>
    </tbody>
  </table>
</div>
