<div class="overallStatusAlert" ng-controller="DashboardController">
  <alerts seconds="9999999999" channels="status/general" types="SUCCESS, INFO, ERROR, WARNING" view="views/customAlert.html" exclusive></alerts>
</div>

<table class="table table-striped publicDashboardServiceShortlist">
  <thead><th>Service Name</th><th>Status</th><th>Notes</th></thead>
  <tbody>
  <tr class="serviceShortListItem" ng-repeat="service in services | dashboardServices:{showPublic: showPublic, showShortList: showShortList}">
    <td class="serviceName">{{service.name}}:</td> 
    <td> 
  	  <span ng-if="service.status=='UP'" class="glyphicon glyphicon-ok-sign serviceIndicator serviceUp"></span>
  	  <span ng-if="service.status=='DOWN'" class="glyphicon glyphicon-remove-sign serviceIndicator serviceDown"></span>
    </td>
    <td class="serviceNotes">
      <div ng-repeat="note in service.notes | orderBy: lastModified">
        <span><strong>{{note}}:</strong> {{note.body}}</span>
      </div>
      
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-default" ng-if="showShortList" ng-click="showHideShortList()">Show All Services</button>
<button class="btn btn-default" ng-if="!showShortList" ng-click="showHideShortList()">Collapse</button>

{{notes}}
