<div class="overallStatusAlert">
  <alerts seconds="9999999999" channels="status/general" types="SUCCESS, INFO, ERROR, WARNING" view="views/customAlert.html" exclusive></alerts>
</div>

<ul class="publicDashboardServiceShortlist" ng-controller="DashboardController">
  <li class="serviceShortListItem" ng-repeat="service in services |  filter:{isPublic: 'true'} | filter:{onShortList: 'true'} ">
  	<span class="serviceName">{{service.name}}</span>: 
  	<span ng-if="service.status=='UP'"><img src="resources/images/knob_valid_green.png"/></span>
  	<span ng-if="service.status=='DOWN'"><img src="resources/images/knob_cancel.png"/></span>
  </li>
</ul>