<div class="row">

  <div class="row" ng-controller="ManagementController">

    <wvr-tabs target="managementView">
      <wvr-tab ng-show="hasAdminAccess() || isServiceManager()" path="services" view="views/management/services.html" label="Services">Services</wvr-tab>
      <wvr-tab ng-show="hasManagementAccess() && !isNoticeManager()" path="notes" view="views/management/notes.html" label="Notes">Notes</wvr-tab>
      <wvr-tab ng-show="hasAdminAccess() || isServiceManager()" path="ideas" view="views/management/ideas.html" label="Notes">Ideas</wvr-tab>
      <wvr-tab ng-show="hasAdminAccess() || isServiceManager()" path="feature-proposals" view="views/management/featureProposals.html" label="Notes">Feature Proposals</wvr-tab>
      <wvr-tab ng-show="hasAdminAccess() || isWebManager() || isNoticeManager()" path="notifications" view="views/management/notifications.html" label="notifications">Notifications</wvr-tab>
      <wvr-tab ng-show="isAdmin()" path="users" view="views/management/users.html" label="users">Users</wvr-tab>
    </wvr-tabs>

    <wvr-tabview class="management-vew" for="managementView"></wvr-tabview>

  </div>

</div>