<div class="row">

  <div class="row" ng-controller="ManagementController">

    <wvr-tabs target="managementView">
      <wvr-tab path="services" view="views/management/services.html" label="Services">Services</wvr-tab>
      <wvr-tab path="notes" view="views/management/notes.html" label="Notes">Notes</wvr-tab>
      <wvr-tab path="notifications" view="views/management/notifications.html" label="notifications">Notifications</wvr-tab>
    </wvr-tabs>

    <wvr-tabview class="management-vew" for="managementView">
    </wvr-tabview>

  </div>

</div>